<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body style="margin: 6rem 15rem;">
    <form action="/textjson3" method="post" style="border: 1px solid black;" style="margin: 2rem 4rem;">
        <textarea placeholder="Enter Your Json Text" name="jsoninput" style="margin: 3rem;" rows="8" cols="50"></textarea>
        <button style="margin: 1rem;">Submit</button>
    </form>
</body>
</html>